/* 
font-family: 'Cabin Sketch', cursive;
font-family: 'Oxygen', sans-serif;
font-family: 'Oxygen Mono', monospace; 
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 8, 51, 0.4), rgba(0, 8, 51, 0.4)),
    url("https://images.unsplash.com/photo-1564473185935-58113cba1e80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
  margin: 0;
}

.main-container {
  padding: 80px;
  border: 1px solid grey;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 20px;
  font-family: "Oxygen", sans-serif;
  background-color: rgba(224, 180, 180, 0.15);
  color: whitesmoke;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

li {
  list-style-type: none;
  font-size: 1.8rem;
}

form {
  display: flex;
  margin: 30px;
  justify-content: center;
}

form input {
  width: 750px;
  height: 45px;
  margin: 20px;
}

form button {
  height: 45px;
  margin: 20px 0;
}

.taskList {
  display: flex;
  flex-direction: column;
  text-align: left;
}

li input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin: 30px;
}
